*{ /*Seletor universal, tirei as margens de toda página*/
    margin: 0;
}
html,body{
    height: 100%;/*Altura da página*/
    font-family: 'Roboto',sans-serif;
    --grey:hsl(240,9%,89%);
    --black:hsl(240,6%,13%);
}
body{
    display: grid;/*Display é uma forma de visualização dos elementos,grid=grade trabalha no eixo x (vertical)  y (horizontal)*/
    place-items: center;/*place-items: center; é uma forma de alinhar os elementos ao centro */
}
main{
    background: url(./imagens/Mobile.svg) no-repeat center/cover;
    width: 375px;
    height: 812px;
    color: var(--grey);
    /*Para melhor responsividade posso substituir o width por 100VW
    adicionar min-height: 812PX;
    height: 100VH;*/
}
.conteudo{
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.fotoPerfil{
    width: 10rem;
    margin: 11.5rem auto 0;
    position: relative;
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;/*object-fit:cover ("Faz com que a imagem se adapte as larguras e alturas pré definidas, nesse caso irá cobrir toda a área de widht e height definidas)*/
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%); /*Digite clip path css no google, o clip path é usado para mudar a forma das boras de uma imagem*/
}
h1{
    text-align: center;
    margin-top: 24px;
    font-size: 1.5rem;
}
a{
    text-decoration: none;
    margin-top: 6px;
    color: var(--grey);
    text-align: center;
    font-size: 16px;
    
}
.iconeGit{
    margin-top: 6px;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
p{
    margin-top: 32px;
}
ul{
    margin-top: 32px;
    list-style: none;
    display: flex;/*Display flex: deixa elementos um ao lado do outro no eixo main. eixo X (eixo vertical)*/
    gap: 8px; /*gap: 8px; Da um espaçamento entre itens do display flex*/
    justify-content: center;/*justify-content: center; Alinha os itens ao centro, de acordo com o eixo X é uma propriedade do display flex ou grid, o text align não funciona pois aqui não temos elementos de texto.*/
    padding: 10px;
    
}